<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Shomrei Torah Minimal" Description="This rulset contains the minimal rules that all Shul code should pass.&#xD;&#xA;&#xD;&#xA;For a more thorough analysis, use Shomrei Torah Strict." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>